TZ=Asia/Phnom_Penh

POSTGRES_DB=metastore
POSTGRES_USER=hive
POSTGRES_PASSWORD=hive123
POSTGRES_PORT=5432

NAMENODE_RPC_PORT=9000
NAMENODE_UI_PORT=9870
DATANODE1_UI_PORT=9864
DATANODE2_UI_PORT=9865
DATANODE3_UI_PORT=9866

RESOURCEMANAGER_UI_PORT=8088
NODEMANAGER1_UI_PORT=8042
NODEMANAGER2_UI_PORT=8043
NODEMANAGER3_UI_PORT=8044
HISTORYSERVER_UI_PORT=8188

HIVE_METASTORE_PORT=9083
HIVE_SERVER2_PORT=10000
HIVE_HTTP_PORT=10002

SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER1_UI_PORT=8082
SPARK_WORKER2_UI_PORT=8083
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2

JUPYTER_PORT=8888
JUPYTER_TOKEN=bigdata123

TRINO_PORT=8081
